body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameCanvas {
  height: 510px;
  /* box-shadow: 10px 10px 5px #888888; */
  border: 2px solid #888888;
  border-radius: 4px;
}

h1 {
  font-family: 'Ranchers', cursive;
  font-size: 36px;
}

footer {
  display: flex;
  align-items: center;
}

h2 {
  font-family: sans-serif;
  font-size: 18px;
}

a {
  color: black;
  margin: 0px 0px 0px 10px;
  text-decoration: none;
}

#mainProgress {
  width: auto;
  height: 20px;
  position: absolute;
  top: 400px;

  width: 226px;
  /* height: 170px; */
  /* border: 1px solid #eee; */
  /* background-color: #ddd; */
  padding: 2px;
  text-align: center;
}

.progress {
  width: 0;
  height: 20px;
  background-color: #9c9;
  bottom: 0;
}

#Instructions {
  top: 120px;
  font-family: 'Ranchers', cursive;
  position: absolute;
  display: none;
  background-color: rgba(255, 226, 90, 1);
  border-radius: 4px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

#Instructions h2 {
  font-family: 'Ranchers', cursive;
  font-size: 28px;
}

#high-score h2 {
  font-family: 'Ranchers', cursive;
  font-size: 28px;
  margin-bottom: 10px;
}

#high-score {
  font-size: 18px;
  font-family: 'Ranchers', cursive;
  top: 120px;
  position: absolute;
  background-color: rgba(255, 226, 90, 1);
  border-radius: 4px;
  display: none;
  font-family: 'Ranchers', cursive;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
}

#high-score button {
  font-size: 24px;
  font-family: 'Ranchers', cursive;
  border: none;
  background-color: rgba(255, 226, 90, 1);
}

#high-score button:hover {
  cursor: pointer;
  color: #fefccb;
}

html {
  background: url(./farm-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
